.hamMenu {
  border: 1px solid rgba(129, 128, 128, 0.658);
  border-radius: 5px;
  position: absolute;
  right: 0;
  height: auto;
  min-width: 100px;
  width: auto;
  margin-top: 0.5rem;
}

.ham__ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem;
  margin: 0;
}

.ham__link {
}

.ham__link__span {
  position: relative;
  font-size: 0.95rem;
  color: rgb(70, 70, 70);
  font-weight: 500;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.ham__link__span:hover {
  color: blue;
}
